* {
  box-sizing: border-box;
}

body {
  background-color: mintcream;
  color: dimgrey;
  margin: 0 0;
  font-family: 'Quicksand', sans-serif;
  
}

.container {
  margin: 0px;
  
}

/*--NAVIGATION BAR--*/
nav {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 100%;
  z-index: 2;
  background-color: dimgrey; 
  display: inline-block;
  text-align: center;
}

nav li {

  padding-right: 20px;
  height: 30px;
  display: inline-block;
  
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: yellowgreen;
  
}

nav a:hover {
  color: dimgrey;
  text-decoration: underline;
  text-shadow: 1px 1px 10px black;
  color: yellowgreen;
  border-right-style: solid 1px yellowgreen;
}
nav ul {
  margin: 0;
}
/*----HEADER--*/

.header {
  background-image: url("https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  color: mintcream;
  font-size: 250px;
  text-align: center;
 
}

header span {
 
  text-shadow: 1px 1px 10px black;
  font-family: 'Caveat', cursive;
  color: hsl(150, 100%, 95%);
  margin: 0px;
}

header button {
  text-align: center;
  background-color: rgba(105, 105, 105, 0.9);
  width: 250px;
  height: 80px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: yellowgreen;
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 50px auto;
  border-radius: 25px;
  
}

header button:hover {
  color: yellowgreen;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid yellowgreen;
  text-decoration: underline;
 
}

/*-----INFO AND TABLE*/
.info {
   justify-items: center;
   align-items: center;
}

.info-description {
  font-size: 30px;
  float: left;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}

.info table {
  width: 450px;
  height: 300px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 5px dimgrey;
  float: right;
  margin: 20px 150px 50px auto;
  
}

table, td {
  border: 1px solid dimgrey;
  border-collapse: collapse;
}

table + td {
  background-color: dimgrey;
}

th {
  color: yellowgreen;
  background-color: dimgrey;
  font-size: 20px;
}

tr:nth-child(odd) {
  background-color: #EFEFEF;
}

/*----MENU--*/

.menu {
    clear: both;
    background-image: url("https://images.unsplash.com/photo-1514115765483-c3ca04662d22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    width: 100%;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.menu h2 {
      color: mintcream;
      font-family: Caveat,sans-serif;
      font-size:70px;
      margin: 10px;
    }

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    width: 900px;
    height: 600px;
    margin: 20px auto;
    border-color: black;
    color: white;
    gap: 10px;
}

.menu-item {
  box-sizing: border-box;
  padding-left: 5px;
  margin: 5px auto;
  background-color: rgba(154, 205, 50, 0.7);
  border: 1px solid dimgrey;
  width: 445px;
}


/*--FOOTER--*/
footer li a {
  text-decoration: none;
  color: yellowgreen;
}

footer {
  text-align: center;
  background-color: dimgrey;
  color: white;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0px;
  clear:both;
}

footer li{
  list-style: none;
}

footer li:first-child {
  margin-bottom: 5px;
}
