* {
  box-sizing: border-box;
}

body {
  background-color: mintcream;
  color: dimgrey;
  margin: 0 0;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0px;
  height: 100%;
}

/*--NAVIGATION BAR--*/
nav {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 100%;
  z-index: 2;
  background-color: dimgrey; 
  display: inline-block;
  text-align: center;
}

nav li {

  padding-right: 20px;
  height: 30px;
  display: inline-block;
  
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: yellowgreen;
  
}

nav a:hover {
  color: dimgrey;
  text-decoration: underline;
  text-shadow: 1px 1px 10px black;
  color: yellowgreen;
  border-right-style: solid 1px yellowgreen;
}
nav ul {
  margin: 0;
}
/*----HEADER--*/

.header {
  background-image: url("https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  color: mintcream;
  font-size: 6em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 align-content: space-between;
 row-gap: 1em;
}

header h1 {
  text-shadow: 1px 1px 10px black;
  font-family: 'Caveat', cursive;
  color: hsl(150, 100%, 95%);
  margin: 0px;
}

header button {
  text-align: center;
  background-color: rgba(105, 105, 105, 0.9);
  width: 250px;
  height: 80px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: yellowgreen;
  font-family: 'Quicksand', sans-serif;
  border-radius: 25px;
  transition: transform .1s; 
}

header button:hover {
  border-radius: 25px;
  border: 1px solid yellowgreen;
  transform: scale(1.1, 1.1);
  text-shadow: 2px 2px 10px black;
}

/*-----INFO AND TABLE*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
}

#info-heading {
  font-weight: 1000;
  font-size: 2.5rem;
  color: yellowgreen;
}

.info-description {
  font-size: 30px;
  float: left;
  width: 50%;
  padding: 0 20px;
  text-align: center;
 
}

.info table {
  width: 450px;
  height: 300px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 5px dimgrey;
  float: right;
 /* margin: 20px 150px 50px auto;*/
  
}

table, td {
  border: 1px solid dimgrey;
  border-collapse: collapse;
}

table + td {
  background-color: dimgrey;
}

th {
  color: yellowgreen;
  background-color: dimgrey;
  font-size: 20px;
}

tr:nth-child(odd) {
  background-color: #EFEFEF;
}

/*----MENU--*/

.menu {
    clear: both;
    background-image: url("https://images.unsplash.com/photo-1514115765483-c3ca04662d22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    width: 100%;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.menu h2 {
      color: mintcream;
      font-family: Caveat,sans-serif;
      font-size:70px;
      margin: 10px;
    }

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    width: 900px;
    height: 600px;
    margin: 20px auto 0px auto;
    padding-bottom: 30px;
    border-color: black;
    color: white;
    gap: 10px;
}

.menu-item {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(154, 205, 50, 0.7);
  border: 1px solid dimgrey;
  width: 670px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px black;
}

.menu-container img {
  width: 200px;
  height: 150px;
  flex-shrink: 0;
  object-fit: cover;
}

.menu-item-text {
  padding-left: 5px;
  font-size: 18px;
  line-height: 23px;
}

.menu-item-header p{
  font-family: Caveat, sans-serif;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*--GRID--*/
.grid {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  /*justify-content: center;
  align-items: center;*/
  margin: 5% 2%;
}

.amenities-list {
  width: 50%;
}

.amenities-list a {
  color: yellowgreen;
  font-size: 20px;
}

.amenities-list a:hover {
  color: #749A26;
}

.grid h2 {
  margin: 1rem 0;
  text-align: center;
  font-family: Caveat,sans-serif;
  font-size: 70px;
  color: yellowgreen;
}

/*.amenities-image {
  background-image: url("https://images.unsplash.com/photo-1462917882517-e150004895fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/

.grid-image {
  background-image: url("https://images.unsplash.com/photo-1620146344904-097a0002d797?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
  
.grid-image-two, .grid-image {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-image-two {
  background-image: url("https://images.unsplash.com/photo-1467189386127-c4e5e31ee213?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

/*SUBSCRIPTION*/
.catering {
  width: 50%;
  text-align: center;
}
.catering p {
  padding: 0 2rem;
}

.catering button {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  background-color: yellowgreen;
  border: none;
  color: mintcream;
  font-size: 15px;
}

.catering button:hover {
  background-color: #749A26;
}

/*--FOOTER--*/
footer li a {
  text-decoration: none;
  color: yellowgreen;
}

footer {
  background-color: dimgrey;
  color: white;
  width: 100%;
  height: 200px;
  position: absolute;
  clear:both;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* .footer-wrapper {
  margin: 0 auto;
} */

footer label {
   display: block; /*so that the button and email input box can be inline */
}

footer [type=email] {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  color: yellowgreen;
  width: 300px;
  height: 32px;
}

footer [type=email]::placeholder {
  color: yellowgreen;
}

footer [type=email]:focus {
  outline: 2px solid yellowgreen;
  border: none;
}

footer button {
  background-color: yellowgreen;
  font-family: 'Quicksand', sans-serif;
  height: 31.9px;
  color: mintcream;
  border: none;
  position: relative;
  right: 60px;
  display: inline;
}

footer button:hover {
  background-color: #749A26;
} 

footer .sub {
  padding-top: 20px;
}

footer li{
  list-style: none;
}

footer ul {
  margin-top: 10px;
  padding-left: 0;
}

footer li:first-child {
  margin-bottom: 5px;
}
footer a:hover {
  text-shadow: 2px 2px 5px black;
}
